<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="css/estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="stylesheet" href="css/menuLateral.css">
	<link rel="stylesheet" href="css/fontello.css">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Noto+Sans+JP&display=swap" rel="stylesheet">



</head>
<body>
	<header class="header">
		<div class="container">
		<div class="btn-menu">
			<label for="btn-menu" class="icon-menu"></label>
		</div>
			<div class="logo">
				<h1>Lista de Estudiantes</h1>
			</div>
		</div>
	</header>

	<div class="capa"></div>
    <div class="title-cards">
		<h2 id="name"></h2>
	</div>
    <input type="checkbox" id="btn-menu">
    <div class="container-menu">
        <div class="cont-menu">
            <nav>
                <<a href="../Admin/Admin.html">Inicio</a>	
                <a href="../Admin/AdminVerEstudiante.html">Ver Estudiantes</a>
                <a href="../Admin/AdminVerInstructor.html">Ver Instructores</a>
                <a href="../Admin/AdminEditarEstado.html">Habilitar/Deshabilitar Usuarios</a>
                <a id="btnLogout" style="cursor: pointer;">Cerrar Sesión</a>
            </nav>
            <label for="btn-menu" class="icon-cancel"></label>
        </div>
    </div>
	<div class="container" id="divLista"></div>

</body>
</html>

<script src="./js/AdminVerEstudiantes.js"></script>
<script>




</script>