<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Admin/css/VerEstudiantes.css">
    <link rel="stylesheet" type="text/css" href="css/estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="stylesheet" href="css/menuLateral.css">
	<link rel="stylesheet" href="css/fontello.css">
    <link rel="stylesheet" href="/Instructor/css/styles.css">

    <title>Estadisticas</title>
</head>
<body>
    <header class="header">
		<div class="container">
            <div class="btn-menu">
                <label id="btnIcono" for="btn-menu" class="icon-menu"></label>
            </div>
                <div class="logo">
                    <h1>MENU PRINCIPAL INSTRUCTOR</h1>
                </div>
                
		</div>
	</header>
    <center>
        <div class="factura" id="factura">
            <div class="imagen">
                <a href="/Estudiante/MisCursos.html">Volver A Estadisticas<img class="imagenfact" src="https://cdn.icon-icons.com/icons2/65/PNG/128/shoppingcart_accept_compra_12832.png" alt="" width="35px"></a> 
                <br>
                <br>
            </div>
            <div class="banda" id="banda">
                <div class="b1"></div><div class="b2"></div><div class="b3"></div><div class="b4"></div>
                <div class="b5"></div><div class="b6"></div><div class="b7"></div><div class="b8"></div>
            </div>
            <div class="titulo">
                CURSO
            </div>
            <div class="headerfact" id="header">
                <label align="right" for="idCurso" class="idCurso">Id Curso <input type="text" name="" id="idCurso" value="1" disabled></label>
                <label align="right" for="curso" class="curso">Curso <input type="text" name="" id="curso" disabled></label>
                <label align="right" for="profesor" class="profesor">Profesor <input type="text" name="" id="profesor" disabled></label>
                <label align="right" for="correo" class="correo">Correo <input type="text" name="" id="correo" disabled></label>
                <label align="right" for="precioProfesor" class="precioProfesor">Precio Profesor<input type="text" name="" id="precioProfesor" disabled></label>
                <label align="right" for="totalProfesor" class="totalProfesor">Total Profesor<input type="text" name="" id="totalProfesor" disabled></label>
                <label align="right" for="estudiantes" class="estudiantes">Estudiantes <input type="text" name="" id="estudiantes" disabled></label>
                <label align="right" for="precioVenta" class="precioVenta">Precio Venta<input type="text" name="" id="precioVenta" disabled></label>
                <label align="right" for="totalVenta" class="totalVenta">Total Venta<input type="text" name="" id="totalVenta" disabled></label>
                <label></label><label></label>
                <label align="right" for="ganancias" class="ganancias">Ganancias <input type="text" name="" id="ganancias" disabled></label>
            </div>
            <div class="titulo">
                <center>LISTADO DE ESTUDIANTES</center>
            </div>
            <div class="detalle" id="detalle">
                <table class="tabla" id="tabla">
                    <thead>
                        <tr>
                            <th>NO.</th>
                            <th>ID ESTUDIANTE</th>
                            <th>NOMBRE</th>
                            <th>CORREO</th>
                            <th>FECHA COMPRA</th>
                        </tr> 
                    </thead>
                    <tbody class="tablaDetalle" id="tablaDetalle">

                    </tbody>
                </table>
            </div>
        </div>
    </center>
    <input type="checkbox" id="btn-menu">
    <div class="container-menu">
        <div class="cont-menu">
            <nav>

                
                <a href="/Estudiante/MenuEstudiante.html">Inicio</a>			
                <a href="/Estudiante/CatalogoCursos.html">Ver catalogo de cursos</a>
                <a href="/Estudiante/MisCursos.html">Ver mis Cursos</a>
                <a href="/Estudiante/EditarEstudiante.html">Editar mis datos</a>
                <a id="btnLogout" style="cursor: pointer;">Cerrar Sesión</a>

            </nav>
            <label for="btn-menu" class="icon-cancel"></label>
        </div>
    </div>
</body>
</html>
<script src="/Admin/js/VerEstudiantes.js"></script>