<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="css/fontello.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/custom.css">
    <title>Cursos</title>
</head>
<body>
    <header class="header">
		<div class="container">
            <div class="btn-menu">
                <label id="btnIcono" for="btn-menu" class="icon-menu"></label>
            </div>
			<div class="logo">
                <h1>MENU PRINCIPAL ESTUDIANTE</h1>                
            </diV>

			</div>
            <div class="two columns u-pull-right">
                <ul>
                    <li class="submenu">
                            <img src="img/cart1.png" width="60px" height="60px" id="img-carrito">
                            <div id="carrito">
                                    
                                    <table id="lista-carrito"  class="u-full-width">
                                        <thead>
                                            <tr>
                                                <th>Codigo</th>
                                                <th>Nombre</th>
                                                <th>Precio</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody id="bodyCarrito"></tbody>
                                    </table>

                                    <a href="#" id="vaciar-carrito" class="button u-full-width">Vaciar Carrito</a>
                                    <a href="#" id="comprar-carrito" class="button u-full-width">Comprar </a>
                            </div>
                    </li>
                </ul>
            </div>
            <div class="title-cards">
                <h1 class="titulo-catalogo">Catalogo de Cursos</h1>
            </div>
            <div class="container-buscador">
                <img src="./img/lupa.png" alt="" class="lupa">
                <input type="text" class="buscador" placeholder="Buscar" id="buscador">
            </div>
            <p></p>
            <div class="container-buscador">
                <div class="filtros">
                    <label for="seleccion">     -Comprados:  </label>
                    <input id="rb1" type="radio" name="seleccion" value="comprado">
                    <label for="seleccion">     -No Comprados:  </label>
                    <input id="rb2" type="radio" name="seleccion" value="Nocomprado">
                    <button onclick="verificar()" id="btn1">Aplicar Filtro</button>
                </div>
            </div>
            <div class="container-card" id="contenedor">
            </div>
            
		</div>
        
	</header>
    
	<div class="capa"></div>
    <input type="checkbox" id="btn-menu">
    <div class="container-menu">
        <div class="cont-menu">
            <nav>
                <img src="./img/user.png" alt="" class="user">
                    <h1 id="nombre"></h1>
                <a href="../Estudiante/MenuEstudiante.html">Inicio</a>			
                <a href="../Estudiante/CatalogoCursos.html">Ver catalogo de cursos</a>
                <a href="../Estudiante/MisCursos.html">Ver mis Cursos</a>
				<a href="../Estudiante/VerLeccion.html">Ver Leccion</a>
				<a href="../Estudiante/VerFacturas.html">Ver Facturas</a>
                <a href="../Estudiante/EditarEstudiante.html">Editar mis datos</a>
                <a id="btnLogout" style="cursor: pointer; color: #c7c7c7;">Cerrar Sesión</a>
            </nav>
            <label for="btn-menu" class="icon-cancel"></label>
        </div>
    </div>
</body>
</html>
<script src="js/CatalogoCursos.js"></script>
