<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Menù Lateral con Css</title>
	<link rel="stylesheet" href="css/menuLateral.css">
    <link rel="stylesheet" href="css/fontello.css">
	<link rel="stylesheet" href="css/styles.css">

</head>
<body>
	<header class="header">
		<div class="container">
		<div class="btn-menu">
			<label id="btnIcono" for="btn-menu" class="icon-menu"></label>
		</div>
			<div class="logo">
				<h1>MENU PRINCIPAL ESTUDIANTE</h1>
			</div>

		</div>
	</header>
	<div class="capa"></div>
    <div class="title-cards">
		<h2 id="name"></h2>
		<img src="../images/bienvenidainstructor.png">
	</div>
    <input type="checkbox" id="btn-menu">
    <div class="container-menu">
        <div class="cont-menu">
            <nav>
				<div class="user-section"><img src="../Estudiante/img/user.png" alt="" class="user"> <h2 id="nombre"></h2></div>
                <a href="../Estudiante/MenuEstudiante.html">Inicio</a>			
                <a href="../Estudiante/CatalogoCursos.html">Ver catalogo de cursos</a>
                <a href="../Estudiante/MisCursos.html">Ver mis Cursos</a>
				<a href="../Estudiante/VerFacturas.html">Ver Facturas</a>
                <a href="../Estudiante/EditarEstudiante.html">Editar mis datos</a>
                <a id="btnLogout" style="cursor: pointer;">Cerrar Sesión</a>
            </nav>
            <label for="btn-menu" class="icon-cancel"></label>
        </div>
    </div>

</body>
</html>
<script src="./js/Estudiante.js"></script>
