* {
  box-sizing: border-box;  
}
body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;

}
.nombreClass,.nombreClass2{
    
    padding: 20px;
}
/*Tabla instructor*/
.claseInstructor1,.claseInstructor{
    
    padding: 20px;
}
/*Tabla instructor*/
.claseInstructor1{
    background-color: #246355;
    border-bottom: solid 5px #0F362D;
    color: white;
}
.nombreClass2{
    background-color: #246355;
    border-bottom: solid 5px #0F362D;
    color: white;
}
.theadJs:nth-child(even){
    background-color: white
}
.theadJs:hover{
    background-color: #369681;
    color: white;
}
/*Tabla instructor*/
.theadInstructor:nth-child(even){
    background-color: #ddd
}
.theadInstructor:hover{
    background-color: #369681;
    color: white;
}
.tbalaInstructor{
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}
.claseTabla{
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    border-collapse: collapse;
    
   
}
.tableContainer{
    table-layout: fixed;
    margin: 15px auto;
    width: fit-content;
    border-collapse: collapse;
}
/*Tabla instructor*/
.tableContainer2{
    table-layout: fixed;
    margin: auto;
    width: fit-content;
    border-collapse: collapse;
}
.btnJs,.btnJs1{
    color: #0099CC;

    background: transparent;

    border: 2px solid #0099CC;

    border-radius: 6px;

    border: none;
      color: white;
      padding: 8px 16px;
      text-align: center;
      display: inline-block;
      font-size: 10px;
      margin: 4px 2px;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      cursor: pointer;
      text-decoration: none;
      text-transform: uppercase;

      background-color: white; 
      color: black; 
      border: 2px solid #050505;
}
.btnJs:hover {
    background-color: #e5cf2a;
    color: rgb(121, 0, 0);
}
.btnJs1:hover{
    background-color: #e5cf2a;
    color: rgb(121, 0, 0);
}
.botones{
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #000000;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    margin: 0%;
    width: 105%;
}
a{
    text-decoration: none; 
}
.botones:hover{
    background-color:rgb(36, 36, 36);
}

.boton_logout{
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #000000;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    text-align:center;
    margin: 0%;
    width: 105%;
}
.boton_logout:hover{
    background-color:rgb(36, 36, 36);
}
/* Perfil*/
.perfil__circulo{
margin: 0;
border-radius: 50%;
width: 50px;
overflow: hidden;
height: 50px;
}

.perfil__foto{ 
width: 100%;

}
.nombre_rol{
    font-family: 'Noto Sans JP', sans-serif;
    color: #fff;
    font-size: 35px;
    width: 350px;
    text-align:center;

}


.informacion{
    color:#0F6A62;
    position: absolute;
    bottom: 1em;
}
.informacion__descripcion{
    color:#0F6A62;
    text-align: left;
}

.informacion__titulo{
    color:#0F6A62;
    font-size: 18xp;
    text-align: left;
}
/*Habilidades*/
.habilidades{
    padding: 0;
}


.informacion__titulo{
    background-color: #56B3AB;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
}
.habilidad{
    background-color: #0F6A62;
    color: #fff;
    font-size: 12px;
    display: inline-block;
    padding: .5em;
    text-transform: uppercase;

}
.habilidad--proyecto{
    background-color: #29597C;
    color: #fff;
    font-size: 12px;
    display: inline-block;
    padding: .5em;
    text-transform: uppercase;

}
/*Proyectos*/
.proyectos{
    margin-left: 350px;
    padding: 1em;

    display: table;
}
.view-proyecto{
    margin-left: 350px;
    padding: 1em;
}

.proyecto{
    width: 50%;
    padding: 1em;
    display: table-cell;
}

.proyecto__imagen{
    width: 100%;
}

.proyecto__titulo{
    color: #29597C;
    font-size: 18px;
}

.mostrar-menu,
.ocultar-menu{ 
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}

.mostrar-menu{
    order:1;
}

.mostrar-menu:hover,
.ocultar-menu:hover{
    color:aquamarine;
}
#check{
    display: none;
}



/*RESPONSIVE*/
@media(max-width: 768px){
    .mostrar-menu,
    .ocultar-menu{
        display: none;
    }


    .lateral{
        position: fixed;
        width: 100%;
        height: 350px;
        background-color: #000000;
        right:-100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        padding: 1em;
        z-index: 100;
        transition: 1.8s;
        
    }
    .ocultar-menu{
        position: absolute;
        top: 40px;
        right: 40px;

    }
    .mostrar-menu{
        position: absolute;
        top: 40px;
        right: 40px;

    }
    .view-proyecto{
        margin-left: 0;
        margin-top: 350px;
        padding: 1em;
    }
    .proyectos{
        margin-left: 0;
        margin-top: 350px;
        padding: 1em;
        display: table;
    }
    .proyecto{
        width: 50%;
        padding: 1em;
    }
    #check:checked ~ .lateral{
        right: 0;
    }



}
