#video{
	text-align: center;
}
.descripcion{
    margin: auto;
    height: auto;
    width: 600px;
	
}
#foro{
    margin: auto;
	text-align: left;
    overflow-y: scroll;
}
h1{
    text-align: center;
    font-size: 50px;
}
