<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
  <link rel="stylesheet" href="css/style.css">

</head>
<body class="fondoinstructores">
  <form id="form" class="sign-up">
    <h1 class="sign-up-title">Registro de Instructores</h1>
    <input type="text" name="Nombre" class="sign-up-input" id="inputNombre" placeholder="Nombres:" autofocus required>

    <input type="text" name="Apellido" class="sign-up-input" id="inputApellido" placeholder="Apellidos:" autofocus required>

    <input type="email" name="Correo" class="sign-up-input" id="inputCorreo" placeholder="Correo:" autofocus required>

    <input type="password" name="Contraseña" class="sign-up-input" id="inputContraseña" placeholder="Contraseña:" required>

    <input type="text" name="Telefono" class="sign-up-input" id="inputTelefono" placeholder="Teléfono:" autofocus required>

    <input type="text" name="Experiencia" class="sign-up-input" id="inputExperiencia" placeholder="Experiencia Laboral:" autofocus required>

    <input type="text" name="Certificaciones" class="sign-up-input" id="inputCertificaciones" placeholder="Certificaciones:" autofocus required>

    <input type="text" name="NombreBanco" class="sign-up-input" id="inputNombreBanco" placeholder="Nombre del Banco que opera:" autofocus required>

    <input type="text" name="NombreCuenta" class="sign-up-input" id="inputNombreCuenta" placeholder="Nombre de la Cuenta Bancaria:" autofocus required>

    <input type="text" name="TipoCuenta" class="sign-up-input" id="inputTipoCuenta" placeholder="Tipo de Cuenta Bancaria:" autofocus required>

    <input type="text" name="NoCuenta" class="sign-up-input" id="inputNoCuenta" placeholder="No. Cuenta Bancaria:" autofocus required>


    <button id="submitButton" type="submit"  class="sign-up-button">Registrarme</button>

    <div class="d-flex justify-content-center">
      <br />
      <span class="txt1">
          Ya tienes una cuenta?  
      </span>
        <a class="txt2" href="../Login-Definitivo/index.html">
           Inicia Sesion aqui
        </a>
          
  </div>
  </form>
  <script src="./js/instructor.js"></script>
</body>
</html>