
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body class="seleccion">
    <div id="container" class="flex-row align-items-center">
        <form id="form" class="form-seleccion">
            <h1 class="sign-up-title">Seleccione el tipo de usuario que desea registrar</h1>

            <div class="d-flex justify-content-center">

                <a href="./estudiante.html">
                    <button id="submitestudiantes" type="button" class="botones"
                    style="background-color: #4e6883">
                    <input type="image" src="../Register/images/estudiante.png" height="50%" width=50%"/>
                    <p>Estudiante</p> 
                </button>
           
                </a>
               
                <a href="./instructor.html" class="link1">
                    <button id="submitinstructores" type="button" class="botones" value="Instructor"
                    style="background-color: #c75f42">
                    <input type="image" src="../Register/images/instructor.png" height="50%" width=50%"/>
                    <p>Instructor</p> 
                </button> 
                </a>
            </div>
               
                
            
        </form>
    </div>
</body>

</html>